#python==3.7.3
django==3.1.12
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
django-cors-headers==3.2.1
#django-bootstrap-pagination==1.7.1
#casbin==0.8.4
#SQLAlchemy>=1.2.18
#casbin_sqlalchemy_adapter==0.1.0
