{% extends "base_generic.html" %}

{% block title %}<title>Matches</title>{% endblock %}

{% block content %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Matches</a>
    </li>
    <li class="breadcrumb-item active">All Matches</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Matches</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>schedule</th>
              <th>home_team</th>
              <th>home_score</th>
              <th>away_score</th>
              <th>away_team</th>
              <th>schedule_date</th>
              <th>match_date</th>
              <th>create_time</th>
              <th>update_time</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
{% endblock %}