{% extends "base_generic.html" %}

{% block title %}<title>Record</title>{% endblock %}

{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Record</a>
    </li>
    <li class="breadcrumb-item active">All List</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Simple
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}