{% extends "common/base.html" %}
{% load bootstrap_pagination %}
{% load i18n %}

{% block title %}<title>Record List</title>{% endblock %}
{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Demo</a>
        </li>
        <li class="breadcrumb-item active">Record List (Class)</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <span class="fas fa-table"></span>
            Record List
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Record.Name' %}</th>
                                <th>{% trans 'Record.Age' %}</th>
                                <th>{% trans 'Record.Gender' %}</th>
                                <th>{% trans 'Record.DateOfBirth' %}</th>
                                <th>{% trans 'Record.CreateTime' %}</th>
                                <th>{% trans 'Record.UpdateTime' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for obj in object_list %}
                                <tr>
                                    <td><a href="{% url 'demo:record-detail' obj.pk %}">{{ obj.pk }}</a></td>
                                    <td>{{ obj.name }}</td>
                                    <td>{{ obj.age }}</td>
                                    <td>{{ obj.gender }}</td>
                                    <td>{{ obj.date_of_birth }}</td>
                                    <td>{{ obj.create_time }}</td>
                                    <td>{{ obj.update_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% bootstrap_paginate page_obj show_first_last="true" extra_pagination_classes="justify-content-center" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted" id="update_time"></div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function() {
        dt = new Date()
        $("#update_time").text("Updated " + dt.toLocaleDateString() + " at " + dt.toLocaleTimeString())
    })
    </script>
{% endblock %}