{% extends "base_generic.html" %}

{% block title %}<title>Record</title>{% endblock %}

{% block content %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Record</a>
    </li>
    <li class="breadcrumb-item active">All List</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Simple
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>age</th>
                        <th>gender</th>
                        <th>date_of_birth</th>
                        <th>create_time</th>
                        <th>update_time</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td><a href="{% url 'demo:record-detail' obj.pk %}">{{ obj.pk }}</a></td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.age }}</td>
                        <td>{{ obj.gender }}</td>
                        <td>{{ obj.date_of_birth }}</td>
                        <td>{{ obj.create_time }}</td>
                        <td>{{ obj.update_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
{% endblock %}