{% extends "common/base.html" %}
{% load i18n %}

{% block css %}{% endblock %}

{% block content %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">系統管理</a>
        </li>
        <li class="breadcrumb-item active">用戶管理</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <span class="fas fa-table"></span>
            用戶信息
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'user.username' %}</th>
                        <th>{% trans 'user.last_name' %}</th>
                        <th>{% trans 'user.first_name' %}</th>
                        <th>{% trans 'user.email' %}</th>
                        <th>{% trans 'user.is_active' %}</th>
                        <th>{% trans 'user.is_superuser' %}</th>
                        <th>{% trans 'user.last_login' %}</th>
                        <th>{% trans 'user.date_joined' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in results %}
                        <tr>
                            <td><a href="#">{{ obj.id }}</a></td>
                            <td>{{ obj.username }}</td>
                            <td>{{ obj.last_name }}</td>
                            <td>{{ obj.first_name }}</td>
                            <td>{{ obj.email }}</td>
                            <td>{{ obj.is_active }}</td>
                            <td>{{ obj.is_superuser }}</td>
                            <td>{{ obj.last_login }}</td>
                            <td>{{ obj.date_joined }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted" id="refresh_time"></div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "stateSave": true,
                "pagingType": "full_numbers",
                "scrollX": true,
                "lengthMenu": [[10, 1, 2, -1], [10, 1, 2, "All"]],
                "processing": true,
                "select": true,
                //"serverSide": true,
                //"ajax": "../server_side/scripts/server_processing.php",
            });

            dt = new Date()
            $("#refresh_time").text("Page refreshed " + dt.toLocaleDateString() + " @" + dt.toLocaleTimeString())
        })
    </script>
{% endblock %}